# This file contains python only requirements to be installed with pip
# Python pacakges that cannot be installed with pip (e.g. PyQT4) are not included.
# Usage: pip install -r requirements.txt
numpy
matplotlib
shapely
simplejson
rtree
scipy
svg.path

PyQt5
setuptools
